.pictureSite {
  background: url("../../../public/Pictures/FondSite.jpg") center center /
        cover;
}

.pictureApp {
  background: url("../../../public/Pictures/FondBowling.jpg") center center /
        cover;
}

.pictureBlockChain {
  background: url("../../../public/Pictures/FondDigibyte.png") center center /
        cover;
}

.pictureIA {
  background: url("../../../public/Pictures/FondDall-E-2.jpg") center center /
        cover;
}
